<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myspring.www.repository.CmtDAO">
   <sql id="wh_cno">
      where cno = #{cno}
   </sql>
   <sql id="wh_bno">
      where bno = #{bno}
   </sql>
   <insert id="insert" parameterType="cvo">
   insert into cmt (bno, writer, content)
   values (#{bno}, #{writer}, #{content})
   </insert>
   <select id="selectList"  resultType="cvo">
   	select a.cno, writer, content, mod_at
   	 from ( select cno from cmt <include refid="wh_bno"/>
   	 order by cno desc
   	 limit #{pgvo.pageStart},#{pgvo.qty}
   	 ) a left join cmt b
   	 on a.cno = b.cno
   </select>
   <select id="selectTotalCount" resultType="int">
    select count(cno) from cmt where bno = #{bno}
   </select>
   <update id="update" parameterType="cvo">
   update cmt set  content = #{content}, mod_at = now()
   <include refid="wh_cno"/>
   </update>
 	<delete id="delete" parameterType="long">
 	delete from cmt
 	<include refid="wh_cno"/>
 	</delete>
 	<delete id="deleteAll" parameterType="long">
 	delete from cmt
 	<include refid="wh_bno"/>
 	</delete>
</mapper>